.checkout {
  overflow: hidden;
  .top-sec {
    background: url(../images/hero/bread-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }
  .span {
    user-select: none;
    cursor: no-drop;
  }
}
